<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <title>Conheça: {{ usuario }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  </head>
  <body>
  <nav class="navbar navbar-expand-lg" style="background-color: blue;">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'indexplataforma' %}" style="color: white;"><b>Início</b></a>
        <a class="navbar-brand" href="{% url 'indexranking' %}" style="color: white;">Ranking</a>
        <a class="navbar-brand" href="#" style="color: white;">Direct</a>
        <a class="navbar-brand" href="{% url 'indexperfil' %}" style="color: white;">Perfil</a>
    </div>
</nav>

  <br>
<center>
    <form action="" method="post">{% csrf_token %}
        <input type="hidden" name="id_seguidor" value="{{ usuario.id }}">
        <input type="submit" value="Seguir">
    </form>
</center>
<hr>


<center>
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
        <br>
    <img src="{{ foto.foto.url }}" alt="foto: {{ usuario.username }}" width="70%">
    </div>
    <div class="col-md-8">
      <div class="card-body">
          <h4 class="card-title"><b>{{ usuario }}</b></h4>
          <p class="card-text">Ranking/Pontos: <b>{{ pontos }}</b></p>
          <p class="card-text"><font color="#000080" size="4">
              {% if frase.frase %}
              {{frase.frase}}
              {% else %}
                Ola! Estou usado a melhor rede social do mundo! GramLine!!!!Aqui você me ve como realmente sou :)
              {% endif %}
</font><br><br>
              <font color="red" face="verdana" size="4">
                  Status: <b>{{ relacionamento }}</b></font> </p>
      </div>
        <hr>

        <br>
    </div>
  </div>
</div>
    {{nao}}
</center>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
  </body>
</html>